{ConversionTime:-1,
DropChances:[0:0.085f,1:0.085f,2:0.085f,3:0.085f,4:0.085f,],
UUIDLeast:-6873307859883024088L,
Attributes:[
	0:{Name:"generic.maxHealth",Base:20.0d,},
	1:{Name:"generic.knockbackResistance",Base:0.0d,Modifiers:[0:{Name:"Random spawn bonus",UUIDLeast:-7988412007283820089L,Operation:0,Amount:0.030238760892600483d,UUIDMost:1613278547530305245L,},],},
	2:{Name:"generic.movementSpeed",Base:0.23000000417232513d,},
	3:{Name:"generic.followRange",Base:35.0d,Modifiers:[0:{Name:"Random spawn bonus",UUIDLeast:-9149474140214491462L,Operation:1,Amount:-0.07305087658211482d,UUIDMost:1311314991272509587L,},],},
	4:{Name:"generic.attackDamage",Base:5.0d,},
	5:{Name:"zombie.spawnReinforcements",Base:0.0d,},],Motion:[0:0.0d,1:-0.0784000015258789d,2:0.0d,],
Health:20s,
HealF:20.0f,
HurtBy:"",
Fire:-1s,
NoAI:1,
Invulnerable:0b,
DeathTime:0s,
CanBreakDoors:0b,
AbsorptionAmount:0.0f,
Equipment:[0:{id:"minecraft:golden_sword",Damage:0s,Count:1b,},1:{},2:{},3:{},4:{},],
OnGround:1b,
HurtTime:0s,
UUIDMost:-8049585251833462495L,
HurtByTimestamp:0,
Dimension:0,
Air:300s,
Anger:0s,
Pos:[0:-382.5d,1:4.0d,2:398.5d,],
CanPickUpLoot:1b,
PortalCooldown:0,
PersistenceRequired:0b,
Leashed:0b,
FallDistance:0.0f,
Rotation:[0:165.25397f,1:0.0f,],}
